*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    color: #fff;
}
.css-mhc70k-MuiGrid-root>.MuiGrid-item {
    padding-left: 0 !important;
}
.css-1oqqzyl-MuiContainer-root {
    width: 65% !important;
}
